:root {
  font-family: "Rubik", sans-serif;
  --color_main: #3cdbc0;
  --color_text: #ffffff;
  --color_menu: #4a4a4a;
}
.header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: var(--color_text);
}
.header__nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header__nav--ul {
  width: 100%;
  list-style-type: none;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0;
  font-size: 16px; /*1rem*/
  text-transform: uppercase;
}
.header__nav--a {
  display: block;
  padding: 20px;
  color: var(--color_menu);
}

.header__nav--logo {
  width: 155px;
  padding: 10px;
}
.main {
  background-color: var(--color_main);
  margin-top: 13px;
  height: 100vh;
  color: var(--color_text);
  font-weight: bolder;
  text-align: center;
  line-height: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
}
.main__title {
  width: 11ch;
  text-align: center;
  font-size: 30px; /*1.87rem*/
}
@media all and (min-width: 768px) {
  .main__title {
    font-size: 40px; /*2.5rem*/
  }

  .header__nav {
    justify-content: space-between;
    flex-direction: row;
  }
  .header__nav--logo {
    padding: 20px;
  }
}
